@font-face {
  font-family: 'Avenir-Roman';
  src: url('../fonts/avenir/hinted-Avenir-Roman.eot');
  src: local('Avenir Roman'), local('Avenir-Roman'),
    url('../fonts/avenir/hinted-Avenir-Roman.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/avenir/hinted-Avenir-Roman.woff') format('woff'),
    url('../fonts/avenir/hinted-Avenir-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url('../fonts/avenir/hinted-Avenir-Medium.eot');
  src: local('Avenir Medium'), local('Avenir-Medium'),
    url('../fonts/avenir/hinted-Avenir-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/avenir/hinted-Avenir-Medium.woff') format('woff'),
    url('../fonts/avenir/hinted-Avenir-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Book';
  src: url('../fonts/avenir/hinted-Avenir-Book.eot');
  src: local('Avenir Book'), local('Avenir-Book'),
    url('../fonts/avenir/hinted-Avenir-Book.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/avenir/hinted-Avenir-Book.woff') format('woff'),
    url('../fonts/avenir/hinted-Avenir-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Heavy';
  src: url('../fonts/avenir/hinted-Avenir-Heavy.eot');
  src: local('Avenir Heavy'), local('Avenir-Heavy'),
    url('../fonts/avenir/hinted-Avenir-Heavy.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/avenir/hinted-Avenir-Heavy.woff') format('woff'),
    url('../fonts/avenir/hinted-Avenir-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
