@import 'bootstrap/functions';
@import 'bootstrap/variables';

@import 'vars';

@import 'base/utils';

@import 'layout';

@import '_base';
@import '_custom';

@import 'components/chats';
@import 'components/market';

.flexItem {
  flex: 1;
}

.fullHeight {
  height: 100vh;
  width: 100%;
}

.lightBackground {
  background: #33373d;
}

.darkBackground {
  background: #272d34;
}
